*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
}
body{
    
    width: 1303px;
    background-color: rgba(126, 214, 210, 0.712);
}
#header{
    height: 60px;
	width : 100%;
	background-color: rgb(3, 99, 94);
	font-size: 20px;
	text-align: left;
	align-items: center;
    padding: 10px;
	display: flex;
    position: fixed;
    overflow: hidden;
    text-decoration: none;
    opacity: 100%;
    z-index: 1000;
}
h1{
    color: #ffffff;
    align-items: center;
    size: 10px;
}
#Menubar{
    margin-top: 60px;
    height: 40px;
	width: 100%;
	background-color : rgb(5, 88, 72);
	display: flex;
	align-items: center;
	position: sticky;
    justify-content:center;
	text-align: center;
    position: fixed;
    background-color: rgb(5,88,72);
    overflow: hidden;
    /* opacity: ; */
    z-index: 1000;
}
a{
    text-decoration: none;
    color: white;
}
.options{
    color: whitesmoke;
    font-size: 20px;
	padding-left:5%;/*Decides the gap between options provided*/
}
.options a:hover{
    background-color: black;
    color: #ffffff;
}
/* ----------------------------------Login photo + login details------------------------ -- */
#about{
    padding: 150px 80px;
    color: black;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 20%;
}
.about-col-1 img{
    width: 100%;
    
}
.about-col-2{
    flex-basis: 35%;
}
.about-col-2.boxcreation{
    width: 320px;
    padding: 10px;
    border: 5px solid rgb(10, 2, 4);
    margin: 0;
    height: 500px;
    border-radius: 10px;
    box-shadow: 5px 10px #0b6354;
    background-color: rgba(223, 243, 242, 0.712);
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #000;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: rgb(5, 41, 41);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 80%;
}
.size{
    font-size: 18px;
    font-weight: 500;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px 1px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}
.button1 {
    background-color: white; 
    border: 2px solid #197557;
    color: #000;
}
  
.button1:hover {
    background-color: #177053;
    color: white;
}
.bottom {
    background-color: rgb(2, 104, 84);
    width: 118%;
    height: 40px;
    padding: 10px;
    text-align: center;
    color: white;
}

